name: Release workspace

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: read

concurrency:
  group: release

jobs:
  release:
    name: Release changesets
    runs-on: ubuntu-24.04
    env:
      CI: true
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Enable Corepack
        run: corepack enable

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/ # Needed for auth
          cache: 'yarn'

      - name: yarn install
        run: yarn install --immutable

      - name: Compile TypeScript
        run: yarn tsc:full

      - name: Build all packages
        run: yarn build:all

      - name: Publish packages
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          title: Version Packages
          version: yarn changeset version
          # https://github.com/changesets/action/pull/271/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R162
          publish: yarn changeset tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        if: steps.changesets.outputs.hasChangesets == 'false'
        # --tolerate-republish do not attempt a republishing as it suggests but rather skips if the version already exists
        run: "yarn workspaces foreach --all --include 'plugins/*' npm publish --access public --tolerate-republish"
