name: Add changeset to Renovate updates

on:
  pull_request_target:
    types: [opened, synchronize, labeled]

jobs:
  renovate:
    name: Update Renovate PR
    runs-on: ubuntu-24.04
    if: contains(github.event.pull_request.labels.*.name, 'renovate')

    steps:
      - name: Update PR
        uses: mscharley/dependency-changesets-action@9ed25d74aded420840fa0264625c26f1443d13da # v1.1.8
        with:
          token: ${{ secrets.PA_GITHUB_TOKEN }}
          use-conventional-commits: true
          author-name: Renovate Changesets
          author-email: renovate@poxhofer.at
